.page {
  background-color: #f3f3f3;
  height: 100vh;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px 0;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media screen and (max-width: 500px) {
  .page__content {
    padding: 0 16px 0;
  }
}
