main {
  position: relative;
}

.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  margin: 0 0 34px;
}

.cards__list {
  padding: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .cards__list {
    row-gap: 16px;
    column-gap: 15px;
    margin-bottom: 16px;
  }

  .cards__text {
    margin: 0 0 20px;
  }
}
