.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__logo-date-location {
  display: flex;
  align-items: center;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn {
  margin: 0;
  border: none;
  background-color: transparent;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__user-container:hover {
  cursor: pointer;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24.8px;
}

.header__modal-items {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 20px;
}

.header__open-modal-button {
  background-color: #ffffff;
  background-image: url("../../assets/header-burger-icon.svg");
  position: absolute;
  visibility: hidden;
  width: 44px;
  height: 44px;
  background-size: 28px 12px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  top: 18px;
  right: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 500px) {
  .header {
    padding: 18px 0 16px;
  }
  .header__logo-date-location {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 32px;
  }
  .header__date-and-location {
    text-wrap: nowrap;
  }

  .header__logo {
    margin-bottom: 0;
  }

  .header__modal-items {
    opacity: 0;
    visibility: hidden;
  }

  .header__open-modal-button {
    visibility: visible;
  }

  .header__logo {
    margin: 0;
  }

  .header__profile {
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }

  .header__profile-date-location {
    font-size: 16px;
    line-height: 20px;
  }
}
