.modal__content_type_header {
  display: none;
}
.header__modal-exit-button {
  position: absolute;
  width: 21.21px;
  height: 21.41px;
  background-image: url("../../assets/mobile-exit-button.svg");
  background-position: center;
  background-size: 100% 100%;
  background-color: transparent;
  mix-blend-mode: multiply;
  border: none;
  top: 11px;
  right: 11.39px;
}
.header__modal-exit-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .modal__content_type_header {
    position: absolute;
    top: 18px;
    left: 16px;
    visibility: hidden;
    background-color: #ffffff;
    width: calc(100% - 32px);
    height: 209px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .modal__content_type_header-is-opened {
    visibility: visible;
  }
}
