.clothes-section {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24.8px;
}
.clothes-sections__header-items {
  display: flex;
  gap: 20px;
  margin: 31px 0 16px;
}

.clothes-sections__your-items {
  margin: 0;
}
.clothes-section__add-new-btn {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}
.clothes-section__add-new-btn:hover {
  cursor: pointer;
}

.clothes-section__list {
  padding: 0;
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
